/* 2.0.1 */
.ready-check-map-background.ember-view {
    display: none !important;
}

/* 2.0.3 */
/* 
#BanPick-Delay {
	display: flex;
	margin-bottom: 0px !important;
}

#pick-delay {
	margin-right: 15px;
	margin-bottom: 0px !important;
}

#ban-delay {
	margin-bottom: 0px !important;
} 
*/

/* 2.0.4 */
#Custom-icon-list {
	margin-left: 25px !important;
}

/* 2.0.5 */
#customprf {
	margin-left: 25px !important;
}