.ready-check-map-background.ember-view {
    display: none !important;
}

/* 
#BanPick-Delay {
	display: flex;
	margin-bottom: 0px !important;
}

#pick-delay {
	margin-right: 15px;
	margin-bottom: 0px !important;
}

#ban-delay {
	margin-bottom: 0px !important;
} 
*/

#Custom-icon-list {
	margin-left: 25px !important;
}

#customprf {
	margin-left: 25px !important;
}

.donate {
	width: 60px;
	margin-left: 10px;
	margin-right: 10px;
}

.friend-header {
	display: block !important;
	margin-left: 11px !important;
	padding: 0px !important;
	font-size: 12px !important;
	line-height: 13px !important;
}

#dev-div {
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}

.dev_ava {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #ff8787;
}

#dev-avatar {
	display: flex;
}

#first_line {
	font-size: 18px;
    color: #cdbe91;
    font-weight: 600;
}

#first_line_b {
	font-size: 18px;
    color: #5ed5e8;
    font-weight: 600;
}

#first_line_p {
	font-size: 18px;
    color: #f9a8a8;
    font-weight: 600;
}

#Contributors-row {
	display: flex;
}

#contributors {
	font-size: 16px;
    color: #cdbe91;
    font-weight: 600;
}

#Contrib {
	width: 220px;
    display: flex;
    border: 2px solid #cdbe91;
    height: 60px;
    border-radius: 10px;
    margin-right: 15px;
}

.contributor-img {
	width: 50px;
    height: 50px;
    padding: 5px 5px 5px 5px;
    border: 0px;
    border-radius: 10px;
}

#contributor-name {
	font-size: 15px;
    font-weight: 600;
    margin-top: 11px !important;
    color: #cdbe91;
    margin-bottom: 3px !important;
}

#Donation {
	text-align: center;
}

#Donation-row {
    display: flex;
    justify-content: center;
}

div[data-screen-name=rcp-fe-lol-navigation-screen] {
    border-top: 1.8px solid #785a28 !important;
}

.currency-be {
    margin-left: 10px !important;
}