.elaina-theme-settings-row {
    margin-bottom: 15px;
    clear: both;
}

.elaina-theme-settings-row::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.moe-counter {
    width: 345px;
}

#User-counter {
    text-align: center;
}